.container {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: mediumaquamarine;
  align-items: center;
  align-content: space-between;
  padding-left: 20px;
  border: solid;
  border-color: black;
}

span {
  padding-left: 10px;
}

#header-nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
}

ul {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  align-content: flex-end;
}

a, li {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  align-content: flex-end;
  padding: 5px;
  color: black;
}

.news {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-large {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.column-medium {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
}

.column-small {
  border: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
}

.mother {
  border: solid;
  border-color: black;
}

#mother-header {
  border: solid;
  border-color: black;
}

.stories {
  border: solid;
  border-color: black;
}

.orca {
  border: solid;
  border-color: black;
}

.earth {
  border: solid;
  border-color: black;
}

.burger {
  border: solid;
  border-color: black;
}

.cameras {
  border: solid;
  border-color: black;
}

.story {
  border: solid;
  border-color: black;
}

.text-content {
  border: solid;
  border-color: black;
}

.cats {
  border: solid;
  border-color: black;
}

.news-bites {
  border: solid;
  border-color: black;
}
/*
.news {
  display: flex;
  flex-direction: column;
}

.mother {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

#mother-header {
  color: white;
}

.cats {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

#cats-header {
  color: white;
}

.earth {
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.cameras {
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

footer {
  background-color: mediumaquamarine;
  display: flex;
}

.mytimes {
  color: white;
  font-weight:bold;
  font-size: 20px;
  display: inline-flex;
}

.footer-nav {
  display: flex;
}

.copyright {
  align-items: flex-end;
  align-items: flex-end;
}
*/
